h1{
	color: #369;
	font-family: Arial,helvetica, sans-serif;
	font-size: 250%;
}

.container{
	margin: 25px;
	padding: 15px;
	background-color: gray;
}

container span {
	font-size: 16px;
	color : red ; 
}

conte-hobby {
	background-color: brown;
}