<button class="btn btn-outline-success mt-2" (click)=" ocular()">{{mostrar ? 'ocular' : 'mostrar'}}</button>

<div class="container p-5 ">



  <div *ngIf="mostrar" class=" jumbotron-fluid bg-success">

    <h3 class="display-3 active">hobbies !</h3>
    <ul>
      <li *ngFor=" let hobbies of hobby" class="m-auto "> <span>{{hobbies}} </span></li>

    </ul>



    <div>

      <form (submit)="formulary(datos)">

        <label for="name">Name</label>
        <input #datos type="text" name="id" placeholder="nombre">

        <button type="submit">enviar</button>
      </form>

    </div>



  </div>

  <div m-5 [ngSwitch]="tab">
    <p *ngSwitchCase="1">{{title}}</p>
    <p *ngSwitchCase="2">tab 2</p>
    <p *ngSwitchDefault>Nada para mostrar</p>

  </div>

  <ng-container *ngIf="json">
    <p> cantidad de datos {{json.length}}</p>
    <div *ngFor="let jsons of json , let i = index">
      <ol>
        <li class="text-muted ">{{jsons.id}}</li>
        <li class="text-muted ">{{jsons.updated_at | date}}</li>
        <li class="text-muted ">{{jsons.owner.type}}</li>
        <li class="text-muted ">{{jsons.owner.site_admin}}</li>
      </ol>
    </div>
  </ng-container>
  <div *ngIf="!json" class="bg-warning">
    <p class="text-danger">
      No hay datos !!!
    </p>
  </div>

</div>
